@model IEnumerable<Project.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Taxi.TaxiModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Taxi.TaxiModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>*@
            <td>
    @*@Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |*@
    @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
    @*@Html.ActionLink("Details","Details",new {CustomerName=item.CustomerID })*@
    @*@Html.ActionLink("Delete", "Delete", new { id=item.BookingID })*@
    </td>
            </tr>
        }
    


</table>
