@model IEnumerable<Project.Models.Taxi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaxiModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxiID })
        </td>
    </tr>
}

</table>
